body {
  background-image: url(../../imagenes/img1.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  body #nerdContenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #576147d3;
    width: 50%;
    padding: 3rem;
    text-align: center;
    border-radius: 1em;
    border-color: #333030; }
    body #nerdContenedor h1 {
      color: #95a344;
      font-size: 2.5rem;
      margin-bottom: 0; }
    body #nerdContenedor h2 {
      color: #ffffff85; }
    body #nerdContenedor h3 {
      margin-top: 10px;
      color: #95a344; }
    body #nerdContenedor p {
      color: #ffffff85; }
    body #nerdContenedor #jugador {
      background-color: #8daf55dc;
      border-radius: 5px;
      padding: 5px;
      color: #ffffff;
      font-size: 1.5rem;
      margin: 0 auto; }
    body #nerdContenedor hr {
      width: 95%;
      height: 1px;
      background-color: rgba(43, 39, 39, 0.459); }
    body #nerdContenedor #preguntar {
      color: #95a344; }
    body #nerdContenedor #opciones {
      display: flex;
      flex-direction: column; }
      body #nerdContenedor #opciones .button {
        background-color: #8daf55dc;
        color: white;
        width: 200px;
        font-size: 15px;
        border-radius: 1rem;
        padding: 8px 16px;
        margin: 5px 25px 5px; }
        body #nerdContenedor #opciones .button:hover {
          cursor: pointer;
          background-color: #0b531b; }
    body #nerdContenedor #progreso {
      color: #95a344;
      font-size: 1.2rem; }

body {
  background-image: url(../../imagenes/img2.jpg); }
  body .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #576147d3;
    width: 25rem;
    padding: 3rem;
    border-radius: 1em;
    border-color: #333030;
    text-align: center; }
    body .contenedor .logtitle {
      color: #95a344;
      font-size: 1.5rem; }
    body .contenedor .form-label {
      color: #ffffff; }
    body .contenedor hr {
      width: 95%;
      height: 1px;
      background-color: rgba(43, 39, 39, 0.459); }
    body .contenedor .btn {
      color: white;
      background-color: #8daf55dc; }
    body .contenedor p {
      color: #ffffff; }
