body {
    background-image: url(../../imagenes/img1.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: grid;

    #triviaContenedor {
        display: block;
        align-self: center;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $bgcolor;
        // max-width: 300px;
        // min-height: 300px;
        padding: 3rem;
        text-align: center;
        border-radius: 1em;
        border-color: rgb(51, 48, 48);
        .btn {
            color: white;
            background-color: $btncolor;

        }

        
        h1 {
            color: $titlecolor;
            font-size: 2.5rem;
            margin-bottom: 0;
        }

        h2{
            color: $titlecolorb;
        }

        h3{
           margin-top: 10px; 
           color: $titlecolor
        }
        p{
            color: $titlecolorb;
        }

        #jugador {
            background-color: $btncolor;
            border-radius: 5px;
            padding: 5px;
            color: #ffffff;
            font-size: 1.5rem;
            margin: 0 auto;
        }
        hr {
            width: 95%;
            height: 1px;
            background-color: rgba(43, 39, 39, 0.459);
        }
        #preguntar {
            color: $titlecolor;

        }
        #opciones {
            display: flex;
            flex-direction: column;

            .button {
                background-color: $btncolor;
                color: white;
                width: 200px;
                font-size: 15px;
                border-radius: 1rem;
                padding: 8px 16px;
                margin: 5px 25px 5px;
                
                &:hover {
                    cursor: pointer;
                    background-color: $btncolorb;
                }
            }
        }
        #progreso {
            color: $titlecolor;
            font-size: 1.2rem;
        }
    }
}
