body{
    background-image: url(../../imagenes/img2.jpg);
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $bgcolor;
    width: 25rem;
    padding: 3rem;
    border-radius: 1em;
    border-color: rgb(51, 48, 48);
    text-align: center;
    
    .logtitle {
        color: $titlecolor;
        font-size: 1.5rem;
    }
    .form-label{
        color:  #ffffff ;
    }
    hr {
        width: 95%;
        height: 1px;
        background-color: rgba(43, 39, 39, 0.459);
    }
    .btn {
        color: white;
        background-color: $btncolor;
    }
    .btnInvitado {
        color: white;
        background-color: $btncolor;

    }
    p {
        color:#ffffff67
    }
}
}